<h1> Liste </h1>

<table>
	<thead>
		<th>Nom</th>
		<th>X</th>
		<th>Y</th>
		<th>Coeff</th>
		<th>Escale</th>
	<thead>
	<tbody>
		<% @destinations.each do |destination| %>
		<tr>
			<td><%= destination.name %></td>
			<td><%= destination.x %></td>
			<td><%= destination.y %></td>
			<td><%= destination.coeff_touristic %></td>
			<td><%= link_to 'ICI', destination, method: :choice %></td>
		</tr>
		<% end %>
	</tbody>
</table>
