<%= form_for(@placetobe) do |form| %>
  <div class="field">
    <div class="field">
      <%= form.label:name, 'Nom' %>
      <%= form.text_field :name %>
    </div>
    <div class="field">
      <%= form.label:description, 'Description' %>
      <%= form.text_field :description %>
    </div>
    <div class="field">
      <%= form.label:cost, 'Coût' %>
      <%= form.text_field :cost %>
    </div>
    <div class="field">
      <%= form.label:mark, 'Note' %>
      <%= form.text_field :mark %>
    </div>
    <div class="field">
      <%= form.label:planet_id, 'Planète' %>
      <%= form.select :planet_id, options_from_collection_for_select(Planet.all, :id, :name)%>
    </div>
    <div class="action">
      <%= form.submit 'Enregistrer' %>
    </div>
  </div>
<% end %>
