<div class="background">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1 style="text-align:center;"> Lieu Important </h1>

<table>
	<thead>
		<th>Nom</th>
		<th>Description</th>
		<th>Cout</th>
		<th>Notes</th>
    <th>Actions</th>
	<thead>
	<tbody>
		<% @placetobes.where(planet_id: params[:id]).each do |placetobe| %>
		<tr>
			<td><%= placetobe.name %></td>
			<td><%= placetobe.description %></td>
			<td><%= placetobe.cost %></td>
			<td><%= placetobe.mark %></td>
      <td>
        <%= link_to 'Suprimer', placetobe, method: :delete, data: {confirm: 'Etes-vous sûr(e)'} %>
        <%= link_to 'Modifier', edit_placetobe_path(placetobe) %>
      </td>
		</tr>
		<% end %>
	</tbody>
</table>
<p>
  <%= link_to 'Ajouter un Lieu Important', new_placetobe_path %>
</p>
<p>
  <%= link_to 'Retour', planets_path %>
</p>
</div>
