<%= form_with(model: simulation) do |form| %>
<div class="field container-fluid">
  <div class="row">
    <div class="field col-md-6">
    <%= form.label :days, 'Nombre de Jours : ' %>
    <%= form.text_field :days %>
  </div>
  <div class="field col-md-6">
    <%= form.label :coeffPeople, 'Nombre de Voyageurs : ' %>
    <%= form.select :coeffPeople, [['Seul', 300], ['2', 540], ['3', 810], ['4', 1180], ['5', 135], ['6', 1620]] %>
  </div>
  <div class="field col-md-6">
    <%= form.label :coeffAccomodation, 'Hébergement : ' %>
    <%= form.select :coeffAccomodation, [
      ['Chez des amis', 150], ['Hôtel Low Gamme', 290],
      ['Hôtel Middle Gamme', 420], ['Hôtel High Gamme', 560],
      ['Location Maison ou Appartement', 700]] %>
  </div>

  <div class="field col-md-6">
    <%= form.label :coeffGuide, 'Accompagnement : ' %>
    <%= form.select :coeffGuide, [['Demi-Journées', 100], ['Journées Entières', 180], ['Sur Mesure', 200]] %>
  </div>

  <div class="field col-md-6">
    <%= form.label :coeffFood, 'Nourriture : ' %>
    <%= form.select :coeffFood, [
      ['Cuisine de Pays PARDI !', 300], ['Restauration Rapide', 150], ['Haute Gastronomie', 500]] %>
  </div>

  <div class="field col-md-6">
    <%= form.label :coeffOut, 'Sorties : ' %>
    <%= form.select :coeffOut, [
      ['Economique', 160], ['Sites touristiques classiques', 250], ['Sorties coûteuses', 400]] %>
  </div>

  <div class="actions col-md-12" id="butSimu">
    <input type="button" value="Simuler le Voyage">
  </div>
</div>
</div>

<% end %>
