<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<%= image_tag "bg.jpg", class: "full-background" %>
<div class="container-fluid text-white" style="font-size: 20px;">
<br>
<h1 id="title" class="text-center position-sticky">Calculer votre Budget de Voyage interstellaire</h1>
<br><br><br>

<% @simulations.where(planet_id: params[:id]).each do |sims| %>
<div class="simsInfo">
  <p id="Ppeo" style="display:none;"><%=sims.coeffPeople%></p>
  <p id="Pacc" style="display:none;"><%=sims.coeffAccomodation%></p>
  <p id="Pgui" style="display:none;"><%=sims.coeffGuide%></p>
  <p id="Pfoo" style="display:none;"><%=sims.coeffFood%></p>
  <p id="Pout" style="display:none;"><%=sims.coeffOut%></p>
</div>
<% end %>

<%= render 'form', simulation: @simulation %>

<div class="row">
  <div class="field col-lg-12">
    <div class="simuResult" id="simRes">
    </div>
  </div>
</div>
</div>
