<h1> Calculer votre Budget de Voyage interstellaire</h1>

<%= form_with(model: simulation) do |form| %>
  <div class="field">
    <div class="field">
      <%= form.label :number, 'Budget de Base' %>
      <%= form.text_field :number %>
    </div>
  </div>


	<div class="field">
		<%= options_for_select([['Seul', 1], ['2', 2]], 2) %>
	</div>

  <div class="actions">
    <%= form.submit 'enregistrer' %>
  </div>
<% end %>
